<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="keyConnectionStr" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\andrk\Desktop\programming\bd for components\ComponentsDB\DataBase.mdf;Integrated Security=True"></add>
	</connectionStrings>
</configuration>